_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.vscode/settings.json
.liquidrc
_data/ViewerData.json
_data/StoreItems.bak
_data/ShopExt.bak
_data/modlist.bak
_data/itemdata.bak
_data/eventdata.bak
_data/commands.bak
